@import "tailwindcss";

.slider_css {
  background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%) !important;
  /* background-color: #999 !important; */
}
.swiper-pagination-bullet {
  background-color: #eee;
  color: #333;
  font-weight: bold;
  width: 20px !important;
  height: 5px !important;
  margin: 0 4px;
  cursor: pointer;
  border-radius:  4px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #46A358 !important;
  width: 28px !important;
  color: #fff;
  transform: scale(1.1);
}
.width {
  width: 100% !important;
}
.input-search {
  width: 400px;
}

@media (max-width: 900px) {
  .input-search {
    width: 200px;
  }
}

.radio-group {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.radio-group .ant-radio-wrapper {
  font-weight: 500;
  color: #333;
  border: 1px solid #46A358;
  padding: 5px 15px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.radio-group .ant-radio-wrapper:hover {
  color: #46A358;
}

.radio-group .ant-radio-wrapper-checked {
  color: #46A358;
}
.radio-group .ant-radio-wrapper-checked .ant-radio-inner {
  background-color: #46A358; 
  border-color: #46A358;
}
.skeleton-img {
  width: 100% !important;
  height: 200px !important;
}
.delete_btn {
  background-color: red !important;
}
.ant-modal-content {
  box-shadow: 0px 0px 12px  -8px #494949 !important;
  /* border: 2px soldi #000 !important; */
}